# P/ carregar ambiente virtual (no terminal)
# python -m venv .venv
# ativar o ambiente virtual
# Windows
# .venv\Scripts\activate

'''
# Bibliotecas
pip install osmnx
pip install geopandas
pip install networkx
pip install pandas
pip install numpy
pip install matplotlib
pip install jupyter
pip install shapely
pip install pyarrow
'''