# Terminal commands to set up the virtual environment and install dependencies:

# INSTALACAO DEPENDENCIAS
# no terminal: pip install -r requirements.txt

# CONFIGURACAO DO AMBIENTE VIRTUAL
# python -m venv .venv
# ativar o ambiente virtual (Windows): .venv\Scripts\activate

# PARA PROBLEMAS COM O PIP, TENTE:
#python -m pip install --upgrade pip setuptools wheel

# DEPENDENCIAS
# Análise de dados
pandas
numpy
scipy

# Geoprocessamento
geopandas
shapely
pyproj
fiona
rtree
pyogrio

# Redes urbanas / OSM
osmnx
networkx

# Visualização
matplotlib
contextily

# Jupyter
jupyter
ipykernel

# Arquivos tabulares e colunares
pyarrow
xlsxwriter

# Arquivos geográficos
pyogrio

# Utilidades
tqdm
scipy